<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>修改权限</title>
    </head>
    <body>
        <h1>修改权限</h1>
        <form th:action="@{/menu/updateMenu}" method="post">
            <input type="hidden" name="_method" value="PUT">
            <input type="hidden" name="id" th:value="${menu.id}">
            <table width="600">
                <tr>
                    <td>权限名称：</td>
                    <td>
                        <input name="name" type="text" size="40" th:value="${menu.name}">
                    </td>
                </tr>
                <tr height="20"></tr>
                <tr>
                    <td>权限：</td>
                    <td>
                        <input name="pattern" type="text" size="40" th:value="${menu.pattern}">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="提交"/>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>