<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lg.cn.whmwms.mapper.InwarehouseMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        inwarehouse_id, inwarehouse_code, inwarehouse_type_id, inwarehouse_isDelete, storehouse_id, storehouse_name, order_id, order_code, order_createuser, order_createtime, order_remarks, order_number, order_auditor_state, order_auditor, order_auditor_time, product_id, product_code, product_name, product_batch, product_spec, supplier_id, supplier_companyName
    </sql>

</mapper>
