<!DOCTYPE html>
<html>
  <head>
    <title>数据概览</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="/static/resource/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="/static/resource/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="/static/resource/files/dataview/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="/static/resource/resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="/static/resource/resources/scripts/axure/axQuery.js"></script>
    <script src="/static/resource/resources/scripts/axure/globals.js"></script>
    <script src="/static/resource/resources/scripts/axutils.js"></script>
    <script src="/static/resource/resources/scripts/axure/annotation.js"></script>
    <script src="/static/resource/resources/scripts/axure/axQuery.std.js"></script>
    <script src="/static/resource/resources/scripts/axure/doc.js"></script>
    <script src="/static/resource/resources/scripts/messagecenter.js"></script>
    <script src="/static/resource/resources/scripts/axure/events.js"></script>
    <script src="/static/resource/resources/scripts/axure/recording.js"></script>
    <script src="/static/resource/resources/scripts/axure/action.js"></script>
    <script src="/static/resource/resources/scripts/axure/expr.js"></script>
    <script src="/static/resource/resources/scripts/axure/geometry.js"></script>
    <script src="/static/resource/resources/scripts/axure/flyout.js"></script>
    <script src="/static/resource/resources/scripts/axure/model.js"></script>
    <script src="/static/resource/resources/scripts/axure/repeater.js"></script>
    <script src="/static/resource/resources/scripts/axure/sto.js"></script>
    <script src="/static/resource/resources/scripts/axure/utils.temp.js"></script>
    <script src="/static/resource/resources/scripts/axure/variables.js"></script>
    <script src="/static/resource/resources/scripts/axure/drag.js"></script>
    <script src="/static/resource/resources/scripts/axure/move.js"></script>
    <script src="/static/resource/resources/scripts/axure/visibility.js"></script>
    <script src="/static/resource/resources/scripts/axure/style.js"></script>
    <script src="/static/resource/resources/scripts/axure/adaptive.js"></script>
    <script src="/static/resource/resources/scripts/axure/tree.js"></script>
    <script src="/static/resource/resources/scripts/axure/init.temp.js"></script>
    <script src="/static/resource/resources/scripts/axure/legacy.js"></script>
    <script src="/static/resource/resources/scripts/axure/viewer.js"></script>
    <script src="/static/resource/resources/scripts/axure/math.js"></script>
    <script src="/static/resource/resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="/static/resource/data/document.js"></script>
    <script src="/static/resource/files/dataview/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return '/static/resource/resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return '/static/resource/resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return '/static/resource/resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (动态面板) -->
      <div id="u168" class="ax_default" data-label="灰色背景">
        <div id="u168_state0" class="panel_state" data-label="State1" style="">
          <div id="u168_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (动态面板) -->
      <div id="u169" class="ax_default" data-label="线条">
        <div id="u169_state0" class="panel_state" data-label="State1" style="">
          <div id="u169_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (矩形) -->
      <div id="u170" class="ax_default _默认样式" data-label="页面标题">
        <div id="u170_div" class=""></div>
        <div id="u170_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u167" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (版权信息) -->

      <!-- Unnamed (矩形) -->
      <div id="u172" class="ax_default _默认样式">
        <img id="u172_img" class="img " src="/static/resource/images/login/u22.svg"/>
        <div id="u172_text" class="text ">
          <p><span>Copyright © AxurePro, All Rights Reserved.</span></p><p><span>作者原创，联系方式：3208508757</span></p>
        </div>
      </div>
      <div id="u171" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (刷新) -->

      <!-- Unnamed (矩形) -->
      <div id="u174" class="ax_default _默认样式" title="刷新">
        <div id="u174_div" class=""></div>
        <div id="u174_text" class="text ">
          <p><span style="font-family:'Arial Normal', 'Arial', sans-serif;">&nbsp;</span><span style="font-family:'FontAwesome', sans-serif;"></span><span style="font-family:'Arial Normal', 'Arial', sans-serif;"> 刷新</span></p>
        </div>
      </div>
      <div id="u173" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (返回) -->

      <!-- Unnamed (矩形) -->
      <div id="u176" class="ax_default _默认样式" title="返回">
        <div id="u176_div" class=""></div>
        <div id="u176_text" class="text ">
          <p><span style="font-family:'Arial Normal', 'Arial', sans-serif;font-weight:400;">&nbsp;</span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;"></span><span style="font-family:'Arial Normal', 'Arial', sans-serif;font-weight:400;"> 返回</span></p>
        </div>
      </div>
      <div id="u175" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (特别提示) -->

      <!-- 提示条 (动态面板) -->
      <div id="u178" class="ax_default ax_default_hidden" data-label="提示条" style="display:none; visibility: hidden">
        <div id="u178_state0" class="panel_state" data-label="State1" style="">
          <div id="u178_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u179" class="ax_default _默认样式">
              <div id="u179_div" class=""></div>
              <div id="u179_text" class="text ">
                <p style="font-size:14px;"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;font-size:18px;"> </span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;"> 和智云仓储仓库管理系统（WMS)设计有AxurePro设计完成，尊重原创者权利，联系方式QQ：3208508757</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u180" class="ax_default _默认样式 selected" title="关闭">
              <div id="u180_div" class="selected"></div>
              <div id="u180_text" class="text ">
                <p><span style="font-family:'FontAwesome', sans-serif;font-weight:400;"> </span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;">关闭</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="u177" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (矩形) -->
      <div id="u181" class="ax_default _默认样式">
        <div id="u181_div" class=""></div>
        <div id="u181_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u182" class="ax_default _默认样式">
        <div id="u182_div" class=""></div>
        <div id="u182_text" class="text ">
          <p style="font-size:14px;"><span style="font-family:'微软雅黑', sans-serif;font-weight:400;">库存总量</span></p><p style="font-size:20px;"><span style="font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;font-weight:700;">76,763,424.80</span></p><p style="font-size:14px;"><span style="font-family:'微软雅黑', sans-serif;font-weight:400;">库存成本</span></p><p style="font-size:20px;"><span style="font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;font-weight:700;">3,665,745,933.54</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u183" class="ax_default _默认样式">
        <div id="u183_div" class=""></div>
        <div id="u183_text" class="text ">
          <p style="font-size:14px;"><span style="font-family:'微软雅黑', sans-serif;font-weight:400;">本周销售总额</span></p><p style="font-size:20px;"><span style="font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;font-weight:700;">349.00</span></p><p style="font-size:14px;"><span style="font-family:'微软雅黑', sans-serif;font-weight:400;">本周销售毛利</span></p><p style="font-size:20px;"><span style="font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;font-weight:700;">660.31</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u184" class="ax_default _默认样式">
        <div id="u184_div" class=""></div>
        <div id="u184_text" class="text ">
          <p style="font-size:14px;"><span style="font-family:'微软雅黑', sans-serif;font-weight:400;">本年采购额</span></p><p style="font-size:20px;"><span style="font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;font-weight:700;">2,815,102,175.90</span></p><p style="font-size:14px;"><span style="font-family:'微软雅黑', sans-serif;font-weight:400;">本月采购额</span></p><p style="font-size:20px;"><span style="font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;font-weight:700;">1,400,990,823.71</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u185" class="ax_default _默认样式">
        <div id="u185_div" class=""></div>
        <div id="u185_text" class="text ">
          <p style="font-size:14px;"><span style="font-family:'微软雅黑', sans-serif;font-weight:400;">本年销售总额</span></p><p style="font-size:20px;"><span style="font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;font-weight:700;">16,349.00</span></p><p style="font-size:14px;"><span style="font-family:'微软雅黑', sans-serif;font-weight:400;">本年销售毛利</span></p><p style="font-size:20px;"><span style="font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;font-weight:700;">2,660.31</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u186" class="ax_default _默认样式">
        <div id="u186_div" class=""></div>
        <div id="u186_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u187" class="ax_default" data-left="10" data-top="265" data-width="640" data-height="70">

        <!-- Unnamed (矩形) -->
        <div id="u188" class="ax_default _默认样式">
          <div id="u188_div" class=""></div>
          <div id="u188_text" class="text ">
            <p><span>本季度-业务员销售排名</span></p>
          </div>
        </div>
      </div>

      <!-- Colum (组合) -->
      <div id="u189" class="ax_default" data-label="Colum" data-left="22" data-top="343" data-width="617" data-height="350">

        <!-- axhub-column-config (中继器) -->
        <div id="u190" class="ax_default" data-label="axhub-column-config">
          <script id="u190_script" type="axure-repeater-template" data-label="axhub-column-config">
          </script>
          <div id="u190-1" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u190-2" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u190-3" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u190-4" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u190-5" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u190-6" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u190-7" class="preeval" style="width: 0px; height: 0px;">
          </div>
        </div>

        <!-- axhub-column-data (中继器) -->
        <div id="u191" class="ax_default" data-label="axhub-column-data">
          <script id="u191_script" type="axure-repeater-template" data-label="axhub-column-data">
          </script>
          <div id="u191-1" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u191-2" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u191-3" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u191-4" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u191-5" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u191-6" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u191-7" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u191-8" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u191-9" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u191-10" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u191-11" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u191-12" class="preeval" style="width: 0px; height: 0px;">
          </div>
        </div>

        <!-- axhub-column-chart (矩形) -->
        <div id="u192" class="ax_default _默认样式" data-label="axhub-column-chart">
          <img id="u192_img" class="img " src="/static/resource/images/dataview/axhub-column-chart_u192.svg"/>
          <div id="u192_text" class="text ">
            <p><span>本季度-业务员销售排名</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u193" class="ax_default _默认样式">
        <div id="u193_div" class=""></div>
        <div id="u193_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u194" class="ax_default" data-left="670" data-top="265" data-width="662" data-height="70">

        <!-- Unnamed (矩形) -->
        <div id="u195" class="ax_default _默认样式">
          <div id="u195_div" class=""></div>
          <div id="u195_text" class="text ">
            <p><span>本季度-仓库销售比较分析</span></p>
          </div>
        </div>
      </div>

      <!-- Colum (组合) -->
      <div id="u196" class="ax_default" data-label="Colum" data-left="682" data-top="343" data-width="638" data-height="350">

        <!-- axhub-column-config (中继器) -->
        <div id="u197" class="ax_default" data-label="axhub-column-config">
          <script id="u197_script" type="axure-repeater-template" data-label="axhub-column-config">
          </script>
          <div id="u197-1" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u197-2" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u197-3" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u197-4" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u197-5" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u197-6" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u197-7" class="preeval" style="width: 0px; height: 0px;">
          </div>
        </div>

        <!-- axhub-column-data (中继器) -->
        <div id="u198" class="ax_default" data-label="axhub-column-data">
          <script id="u198_script" type="axure-repeater-template" data-label="axhub-column-data">
          </script>
          <div id="u198-1" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u198-2" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u198-3" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u198-4" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u198-5" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u198-6" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u198-7" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u198-8" class="preeval" style="width: 0px; height: 0px;">
          </div>
        </div>

        <!-- axhub-column-chart (矩形) -->
        <div id="u199" class="ax_default _默认样式" data-label="axhub-column-chart">
          <img id="u199_img" class="img " src="/static/resource/images/dataview/axhub-column-chart_u199.svg"/>
          <div id="u199_text" class="text ">
            <p><span>本季度-仓库销售比较分析</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u200" class="ax_default _默认样式">
        <div id="u200_div" class=""></div>
        <div id="u200_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u201" class="ax_default" data-left="14" data-top="741" data-width="648" data-height="70">

        <!-- Unnamed (矩形) -->
        <div id="u202" class="ax_default _默认样式">
          <div id="u202_div" class=""></div>
          <div id="u202_text" class="text ">
            <p><span>本季度-存货销售比较分析</span></p>
          </div>
        </div>
      </div>

      <!-- Donut (组合) -->
      <div id="u203" class="ax_default" data-label="Donut" data-left="38" data-top="816" data-width="600" data-height="400">

        <!-- axhub-donut-config (中继器) -->
        <div id="u204" class="ax_default" data-label="axhub-donut-config">
          <script id="u204_script" type="axure-repeater-template" data-label="axhub-donut-config">
          </script>
          <div id="u204-1" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u204-2" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u204-3" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u204-4" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u204-5" class="preeval" style="width: 0px; height: 0px;">
          </div>
        </div>

        <!-- axhub-donut-data (中继器) -->
        <div id="u205" class="ax_default" data-label="axhub-donut-data">
          <script id="u205_script" type="axure-repeater-template" data-label="axhub-donut-data">
          </script>
          <div id="u205-1" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u205-2" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u205-3" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u205-4" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u205-5" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u205-6" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u205-7" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u205-8" class="preeval" style="width: 0px; height: 0px;">
          </div>
        </div>

        <!-- axhub-donut-chart (矩形) -->
        <div id="u206" class="ax_default _默认样式" data-label="axhub-donut-chart">
          <img id="u206_img" class="img " src="/static/resource/images/dataview/axhub-donut-chart_u206.svg"/>
          <div id="u206_text" class="text ">
            <p><span>本季度-存货销售比较分析</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u207" class="ax_default _默认样式">
        <div id="u207_div" class=""></div>
        <div id="u207_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u208" class="ax_default" data-left="686" data-top="741" data-width="648" data-height="70">

        <!-- Unnamed (矩形) -->
        <div id="u209" class="ax_default _默认样式">
          <div id="u209_div" class=""></div>
          <div id="u209_text" class="text ">
            <p><span>本季度-客户销售比较分析</span></p>
          </div>
        </div>
      </div>

      <!-- Colum (组合) -->
      <div id="u210" class="ax_default" data-label="Colum" data-left="686" data-top="821" data-width="638" data-height="395">

        <!-- axhub-column-config (中继器) -->
        <div id="u211" class="ax_default" data-label="axhub-column-config">
          <script id="u211_script" type="axure-repeater-template" data-label="axhub-column-config">
          </script>
          <div id="u211-1" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u211-2" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u211-3" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u211-4" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u211-5" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u211-6" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u211-7" class="preeval" style="width: 0px; height: 0px;">
          </div>
        </div>

        <!-- axhub-column-data (中继器) -->
        <div id="u212" class="ax_default" data-label="axhub-column-data">
          <script id="u212_script" type="axure-repeater-template" data-label="axhub-column-data">
          </script>
          <div id="u212-1" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u212-2" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u212-3" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u212-4" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u212-5" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u212-6" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u212-7" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u212-8" class="preeval" style="width: 0px; height: 0px;">
          </div>
        </div>

        <!-- axhub-column-chart (矩形) -->
        <div id="u213" class="ax_default _默认样式" data-label="axhub-column-chart">
          <img id="u213_img" class="img " src="/static/resource/images/dataview/axhub-column-chart_u213.svg"/>
          <div id="u213_text" class="text ">
            <p><span>本季度-客户销售比较分析</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u214" class="ax_default _默认样式">
        <div id="u214_div" class=""></div>
        <div id="u214_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u215" class="ax_default" data-left="20" data-top="1256" data-width="1320" data-height="70">

        <!-- Unnamed (矩形) -->
        <div id="u216" class="ax_default _默认样式">
          <div id="u216_div" class=""></div>
          <div id="u216_text" class="text ">
            <p><span>2019年-销售增长分析</span></p>
          </div>
        </div>
      </div>

      <!-- Line (组合) -->
      <div id="u217" class="ax_default" data-label="Line" data-left="44" data-top="1336" data-width="1272" data-height="440">

        <!-- axhub-line-config (中继器) -->
        <div id="u218" class="ax_default" data-label="axhub-line-config">
          <script id="u218_script" type="axure-repeater-template" data-label="axhub-line-config">
          </script>
          <div id="u218-1" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u218-2" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u218-3" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u218-4" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u218-5" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u218-6" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u218-7" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u218-8" class="preeval" style="width: 0px; height: 0px;">
          </div>
        </div>

        <!-- axhub-line-data (中继器) -->
        <div id="u219" class="ax_default" data-label="axhub-line-data">
          <script id="u219_script" type="axure-repeater-template" data-label="axhub-line-data">
          </script>
          <div id="u219-1" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-2" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-3" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-4" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-5" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-6" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-7" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-8" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-9" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-10" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-11" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-12" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-13" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-14" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-15" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-16" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-17" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-18" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-19" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-20" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-21" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-22" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-23" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-24" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-25" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-26" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-27" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-28" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-29" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-30" class="preeval" style="width: 0px; height: 0px;">
          </div>
          <div id="u219-31" class="preeval" style="width: 0px; height: 0px;">
          </div>
        </div>

        <!-- axhub-line-chart (矩形) -->
        <div id="u220" class="ax_default _默认样式 disabled" data-label="axhub-line-chart">
          <img id="u220_img" class="img " src="/static/resource/images/dataview/axhub-line-chart_u220.svg"/>
          <div id="u220_text" class="text ">
            <p><span>2019年-销售增长分析</span></p>
          </div>
        </div>
      </div>
    </div>
    <script src="/static/resource/resources/scripts/axure/ios.js"></script>
  </body>
</html>
