<!DOCTYPE html>
<html>
  <head>
    <title>角色管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="/static/resource/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="/static/resource/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="/static/resource/files/roleIndex/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="/static/resource/resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="/static/resource/resources/scripts/axure/axQuery.js"></script>
    <script src="/static/resource/resources/scripts/axure/globals.js"></script>
    <script src="/static/resource/resources/scripts/axutils.js"></script>
    <script src="/static/resource/resources/scripts/axure/annotation.js"></script>
    <script src="/static/resource/resources/scripts/axure/axQuery.std.js"></script>
    <script src="/static/resource/resources/scripts/axure/doc.js"></script>
    <script src="/static/resource/resources/scripts/messagecenter.js"></script>
    <script src="/static/resource/resources/scripts/axure/events.js"></script>
    <script src="/static/resource/resources/scripts/axure/recording.js"></script>
    <script src="/static/resource/resources/scripts/axure/action.js"></script>
    <script src="/static/resource/resources/scripts/axure/expr.js"></script>
    <script src="/static/resource/resources/scripts/axure/geometry.js"></script>
    <script src="/static/resource/resources/scripts/axure/flyout.js"></script>
    <script src="/static/resource/resources/scripts/axure/model.js"></script>
    <script src="/static/resource/resources/scripts/axure/repeater.js"></script>
    <script src="/static/resource/resources/scripts/axure/sto.js"></script>
    <script src="/static/resource/resources/scripts/axure/utils.temp.js"></script>
    <script src="/static/resource/resources/scripts/axure/variables.js"></script>
    <script src="/static/resource/resources/scripts/axure/drag.js"></script>
    <script src="/static/resource/resources/scripts/axure/move.js"></script>
    <script src="/static/resource/resources/scripts/axure/visibility.js"></script>
    <script src="/static/resource/resources/scripts/axure/style.js"></script>
    <script src="/static/resource/resources/scripts/axure/adaptive.js"></script>
    <script src="/static/resource/resources/scripts/axure/tree.js"></script>
    <script src="/static/resource/resources/scripts/axure/init.temp.js"></script>
    <script src="/static/resource/resources/scripts/axure/legacy.js"></script>
    <script src="/static/resource/resources/scripts/axure/viewer.js"></script>
    <script src="/static/resource/resources/scripts/axure/math.js"></script>
    <script src="/static/resource/resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="/static/resource/data/document.js"></script>
    <script src="/static/resource/files/roleIndex/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return '/static/resource/resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return '/static/resource/resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return '/static/resource/resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (动态面板) -->
      <div id="u13338" class="ax_default" data-label="灰色背景">
        <div id="u13338_state0" class="panel_state" data-label="State1" style="">
          <div id="u13338_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (动态面板) -->
      <div id="u13339" class="ax_default" data-label="线条">
        <div id="u13339_state0" class="panel_state" data-label="State1" style="">
          <div id="u13339_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (矩形) -->
      <div id="u13340" class="ax_default _默认样式" data-label="页面标题">
        <div id="u13340_div" class=""></div>
        <div id="u13340_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u13337" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (刷新) -->

      <!-- Unnamed (矩形) -->
      <div id="u13342" class="ax_default _默认样式" title="刷新">
        <div id="u13342_div" class=""></div>
        <div id="u13342_text" class="text ">
          <p><span style="font-family:'Arial Normal', 'Arial', sans-serif;">&nbsp;</span><span style="font-family:'FontAwesome', sans-serif;"></span><span style="font-family:'Arial Normal', 'Arial', sans-serif;"> 刷新</span></p>
        </div>
      </div>
      <div id="u13341" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (矩形) -->
      <div id="u13343" class="ax_default _默认样式">
        <div id="u13343_div" class=""></div>
        <div id="u13343_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u13344" class="ax_default _默认样式">
        <div id="u13344_div" class=""></div>
        <div id="u13344_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (动态面板) -->
      <div id="u13346" class="ax_default" data-label="灰色背景">
        <div id="u13346_state0" class="panel_state" data-label="State1" style="">
          <div id="u13346_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (动态面板) -->
      <div id="u13347" class="ax_default" data-label="线条">
        <div id="u13347_state0" class="panel_state" data-label="State1" style="">
          <div id="u13347_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (矩形) -->
      <div id="u13348" class="ax_default _默认样式" data-label="页面标题">
        <div id="u13348_div" class=""></div>
        <div id="u13348_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u13345" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (返回) -->

      <!-- Unnamed (矩形) -->
      <div id="u13350" class="ax_default _默认样式" title="返回">
        <div id="u13350_div" class=""></div>
        <div id="u13350_text" class="text ">
          <p><span style="font-family:'Arial Normal', 'Arial', sans-serif;font-weight:400;">&nbsp;</span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;"></span><span style="font-family:'Arial Normal', 'Arial', sans-serif;font-weight:400;"> 返回</span></p>
        </div>
      </div>
      <div id="u13349" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (刷新) -->

      <!-- Unnamed (矩形) -->
      <div id="u13352" class="ax_default _默认样式" title="刷新">
        <div id="u13352_div" class=""></div>
        <div id="u13352_text" class="text ">
          <p><span style="font-family:'Arial Normal', 'Arial', sans-serif;">&nbsp;</span><span style="font-family:'FontAwesome', sans-serif;"></span><span style="font-family:'Arial Normal', 'Arial', sans-serif;"> 刷新</span></p>
        </div>
      </div>
      <div id="u13351" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (矩形) -->
      <div id="u13353" class="ax_default _默认样式">
        <div id="u13353_div" class=""></div>
        <div id="u13353_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u13354" class="ax_default _默认样式">
        <div id="u13354_div" class=""></div>
        <div id="u13354_text" class="text ">
          <p><span>数据筛选</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u13355" class="ax_default _默认样式">
        <div id="u13355_div" class=""></div>
        <div id="u13355_text" class="text ">
          <p><span style="font-family:'FontAwesome', sans-serif;font-weight:400;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;"> 重置</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u13356" class="ax_default _默认样式">
        <div id="u13356_div" class=""></div>
        <div id="u13356_text" class="text ">
          <p><span style="font-family:'FontAwesome', sans-serif;font-weight:400;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;"> </span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;">查询</span></p>
        </div>
      </div>

      <!-- 输入框 (组合) -->
      <div id="u13357" class="ax_default" data-label="输入框" data-left="130" data-top="140" data-width="180" data-height="35">

        <!-- Unnamed (矩形) -->
        <div id="u13358" class="ax_default _默认样式">
          <div id="u13358_div" class=""></div>
          <div id="u13358_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- 输入框 (文本框) -->
        <div id="u13359" class="ax_default _默认样式" data-label="输入框">
          <div id="u13359_div" class=""></div>
          <input id="u13359_input" type="text" value="" class="u13359_input" maxlength="20"/>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u13360" class="ax_default _默认样式">
        <div id="u13360_div" class=""></div>
        <div id="u13360_text" class="text ">
          <p><span>角色名:</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u13361" class="ax_default _默认样式">
        <div id="u13361_div" class=""></div>
        <div id="u13361_text" class="text ">
          <p><span>数据列表</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u13362" class="ax_default _默认样式">
        <div id="u13362_div" class=""></div>
        <div id="u13362_text" class="text ">
          <p><span style="font-family:'FontAwesome', sans-serif;font-weight:400;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;"> 全选</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u13363" class="ax_default _默认样式">
        <div id="u13363_div" class=""></div>
        <div id="u13363_text" class="text ">
          <p><span style="font-family:'FontAwesome', sans-serif;font-weight:400;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;"> 反选</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u13364" class="ax_default" data-left="220" data-top="648" data-width="140" data-height="35">

        <!-- Unnamed (矩形) -->
        <div id="u13365" class="ax_default _默认样式">
          <div id="u13365_div" class=""></div>
          <div id="u13365_text" class="text ">
            <p><span>批量操作</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u13366" class="ax_default _默认样式">
          <div id="u13366_div" class=""></div>
          <div id="u13366_text" class="text ">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- 对话框 (动态面板) -->
      <div id="u13367" class="ax_default ax_default_hidden" data-label="对话框" style="display:none; visibility: hidden">
        <div id="u13367_state0" class="panel_state" data-label="删除确认" style="">
          <div id="u13367_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u13368" class="ax_default _默认样式">
              <div id="u13368_div" class=""></div>
              <div id="u13368_text" class="text ">
                <p></p><p></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u13369" class="ax_default" data-left="0" data-top="150" data-width="450" data-height="60">

              <!-- Unnamed (矩形) -->
              <div id="u13370" class="ax_default _默认样式">
                <div id="u13370_div" class=""></div>
                <div id="u13370_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (组合) -->
              <div id="u13371" class="ax_default" data-left="261" data-top="165" data-width="170" data-height="30">

                <!-- Unnamed (组合) -->
                <div id="u13372" class="ax_default" data-left="261" data-top="165" data-width="170" data-height="30">

                  <!-- Unnamed (矩形) -->
                  <div id="u13373" class="ax_default _默认样式">
                    <div id="u13373_div" class=""></div>
                    <div id="u13373_text" class="text ">
                      <p><span>取消</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (矩形) -->
                  <div id="u13374" class="ax_default _默认样式">
                    <div id="u13374_div" class=""></div>
                    <div id="u13374_text" class="text ">
                      <p><span>确定</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13375" class="ax_default _默认样式">
              <div id="u13375_div" class=""></div>
              <div id="u13375_text" class="text ">
                <p style="font-size:16px;"><span style="font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;font-weight:700;">该操作将删除该角色数据,确定要删除吗？</span></p><p style="font-size:14px;"><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#999999;">该操作将删除该角色数据,确定要删除吗？</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13376" class="ax_default _默认样式">
              <div id="u13376_div" class=""></div>
              <div id="u13376_text" class="text ">
                <p><span>确认提示</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13377" class="ax_default _默认样式">
              <div id="u13377_div" class=""></div>
              <div id="u13377_text" class="text ">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13378" class="ax_default _默认样式" title="关闭">
              <div id="u13378_div" class=""></div>
              <div id="u13378_text" class="text ">
                <p><span></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 通知提醒  (动态面板) -->
      <div id="u13379" class="ax_default ax_default_hidden" data-label="通知提醒 " style="display:none; visibility: hidden">
        <div id="u13379_state0" class="panel_state" data-label="删除成功" style="">
          <div id="u13379_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u13380" class="ax_default _默认样式">
              <div id="u13380_div" class=""></div>
              <div id="u13380_text" class="text ">
                <p><span style="font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;font-weight:700;">角色删除成功</span></p><p><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#999999;">角色数据删除成功</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13381" class="ax_default _默认样式">
              <div id="u13381_div" class=""></div>
              <div id="u13381_text" class="text ">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13382" class="ax_default _默认样式">
              <div id="u13382_div" class=""></div>
              <div id="u13382_text" class="text ">
                <p><span></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 表格头部 (表格) -->
      <div id="u13383" class="ax_default" data-label="表格头部">

        <!-- Unnamed (单元格) -->
        <div id="u13384" class="ax_default _默认样式">
          <img id="u13384_img" class="img " src="/static/resource/images/receive/u9672.png"/>
          <div id="u13384_text" class="text ">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u13385" class="ax_default _默认样式">
          <img id="u13385_img" class="img " src="/static/resource/images/roleIndex/u13385.png"/>
          <div id="u13385_text" class="text ">
            <p><span>角色名</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u13386" class="ax_default _默认样式">
          <img id="u13386_img" class="img " src="/static/resource/images/roleIndex/u13385.png"/>
          <div id="u13386_text" class="text ">
            <p><span>创建时间</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u13387" class="ax_default _默认样式">
          <img id="u13387_img" class="img " src="/static/resource/images/returngoods/returngoodHtml/u8064.png"/>
          <div id="u13387_text" class="text ">
            <p><span>备注</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u13388" class="ax_default _默认样式">
          <img id="u13388_img" class="img " src="/static/resource/images/roleIndex/u13388.png"/>
          <div id="u13388_text" class="text ">
            <p><span>操作</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u13389" class="ax_default _默认样式">
          <img id="u13389_img" class="img " src="/static/resource/images/receive/u9683.png"/>
          <div id="u13389_text" class="text ">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u13390" class="ax_default _默认样式">
          <img id="u13390_img" class="img " src="/static/resource/images/roleIndex/u13390.png"/>
          <div id="u13390_text" class="text ">
            <p><span>仓储经理</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u13391" class="ax_default _默认样式">
          <img id="u13391_img" class="img " src="/static/resource/images/roleIndex/u13390.png"/>
          <div id="u13391_text" class="text ">
            <p><span>&nbsp;&nbsp; &nbsp; 2019-04-10</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u13392" class="ax_default _默认样式">
          <img id="u13392_img" class="img " src="/static/resource/images/returngoods/returngoodHtml/u8078.png"/>
          <div id="u13392_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u13393" class="ax_default _默认样式">
          <img id="u13393_img" class="img " src="/static/resource/images/roleIndex/u13393.png"/>
          <div id="u13393_text" class="text ">
            <p><a id="u13394" class="link"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;">&nbsp; </span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#0079FE;">编辑</span></a><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;">&nbsp; &nbsp; </span><a id="u13395" class="link"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;"> </span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#0079FE;">删除</span></a><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;">&nbsp; &nbsp;&nbsp; </span><a id="u13396" class="link"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#218BF9;"> 分配权限</span></a><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;">&nbsp;&nbsp; </span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u13397" class="ax_default _默认样式">
          <img id="u13397_img" class="img " src="/static/resource/images/receive/u9711.png"/>
          <div id="u13397_text" class="text ">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u13398" class="ax_default _默认样式">
          <img id="u13398_img" class="img " src="/static/resource/images/roleIndex/u13398.png"/>
          <div id="u13398_text" class="text ">
            <p><span>仓库管理员</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u13399" class="ax_default _默认样式">
          <img id="u13399_img" class="img " src="/static/resource/images/roleIndex/u13398.png"/>
          <div id="u13399_text" class="text ">
            <p><span>&nbsp;&nbsp; &nbsp; 2019-04-10</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u13400" class="ax_default _默认样式">
          <img id="u13400_img" class="img " src="/static/resource/images/returngoods/returngoodHtml/u8126.png"/>
          <div id="u13400_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u13401" class="ax_default _默认样式">
          <img id="u13401_img" class="img " src="/static/resource/images/roleIndex/u13401.png"/>
          <div id="u13401_text" class="text ">
            <p><a id="u13402" class="link"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;">&nbsp; </span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#0079FE;">编辑</span></a><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;">&nbsp; &nbsp; </span><a id="u13403" class="link"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;"> </span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#0079FE;">删除</span></a><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;">&nbsp; &nbsp;&nbsp; </span><a id="u13404" class="link"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#218BF9;"> 分配权限</span></a><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;">&nbsp;&nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- 表格列表 (中继器) -->
      <div id="u13405" class="ax_default" data-label="表格列表">
        <script id="u13405_script" type="axure-repeater-template" data-label="表格列表">

          <!-- 表格头部 (表格) -->
          <div id="u13406" class="ax_default u13406" data-label="表格头部">

            <!-- Unnamed (单元格) -->
            <div id="u13407" class="ax_default _默认样式 u13407">
              <img id="u13407_img" class="img u13407_img" src="/static/resource/images/receive/u9711.png"/>
              <div id="u13407_text" class="text u13407_text">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u13408" class="ax_default _默认样式 u13408">
              <img id="u13408_img" class="img u13408_img" src="/static/resource/images/roleIndex/u13398.png"/>
              <div id="u13408_text" class="text u13408_text">
                <p><span>仓库管理员</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u13409" class="ax_default _默认样式 u13409">
              <img id="u13409_img" class="img u13409_img" src="/static/resource/images/roleIndex/u13398.png"/>
              <div id="u13409_text" class="text u13409_text">
                <p><span>&nbsp;&nbsp; &nbsp; 2019-04-10</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u13410" class="ax_default _默认样式 u13410">
              <img id="u13410_img" class="img u13410_img" src="/static/resource/images/returngoods/returngoodHtml/u8126.png"/>
              <div id="u13410_text" class="text u13410_text" style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u13411" class="ax_default _默认样式 u13411">
              <img id="u13411_img" class="img u13411_img" src="/static/resource/images/roleIndex/u13401.png"/>
              <div id="u13411_text" class="text u13411_text">
                <p><a id="u13412" class="link"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;">&nbsp; </span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#0079FE;">编辑</span></a><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;">&nbsp; &nbsp; </span><a id="u13413" class="link"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;"> </span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#0079FE;">删除</span></a><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;">&nbsp; &nbsp;&nbsp; </span><a id="u13414" class="link"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#218BF9;"> 分配权限</span></a><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;">&nbsp;&nbsp; </span></p>
              </div>
            </div>
          </div>
        </script>
        <div id="u13405-1" class="preeval" style="width: 1300px; height: 50px;">

          <!-- 表格头部 (表格) -->
          <div id="u13406-1" class="ax_default u13406" data-label="表格头部" style="visibility: inherit">

            <!-- Unnamed (单元格) -->
            <div id="u13407-1" class="ax_default _默认样式 u13407" style="width: 120px; height: 50px; left: 0px; top: 0px;visibility: inherit">
              <img id="u13407-1_img" class="img u13407_img" src="/static/resource/images/receive/u9711.png"/>
              <div id="u13407-1_text" class="text u13407_text" style="visibility: inherit">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u13408-1" class="ax_default _默认样式 u13408" style="width: 284px; height: 50px; left: 120px; top: 0px;visibility: inherit">
              <img id="u13408-1_img" class="img u13408_img" src="/static/resource/images/roleIndex/u13398.png"/>
              <div id="u13408-1_text" class="text u13408_text" style="visibility: inherit">
                <p><span>仓库管理员</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u13409-1" class="ax_default _默认样式 u13409" style="width: 284px; height: 50px; left: 404px; top: 0px;visibility: inherit">
              <img id="u13409-1_img" class="img u13409_img" src="/static/resource/images/roleIndex/u13398.png"/>
              <div id="u13409-1_text" class="text u13409_text" style="visibility: inherit">
                <p><span>&nbsp;&nbsp; &nbsp; 2019-04-10</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u13410-1" class="ax_default _默认样式 u13410" style="width: 132px; height: 50px; left: 688px; top: 0px;visibility: inherit">
              <img id="u13410-1_img" class="img u13410_img" src="/static/resource/images/returngoods/returngoodHtml/u8126.png"/>
              <div id="u13410-1_text" class="text u13410_text" style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u13411-1" class="ax_default _默认样式 u13411" style="width: 480px; height: 50px; left: 820px; top: 0px;visibility: inherit">
              <img id="u13411-1_img" class="img u13411_img" src="/static/resource/images/roleIndex/u13401.png"/>
              <div id="u13411-1_text" class="text u13411_text" style="visibility: inherit">
                <p><a id="u13412-1" class="link"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;">&nbsp; </span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#0079FE;">编辑</span></a><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;">&nbsp; &nbsp; </span><a id="u13413-1" class="link"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;"> </span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#0079FE;">删除</span></a><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;">&nbsp; &nbsp;&nbsp; </span><a id="u13414-1" class="link"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#218BF9;"> 分配权限</span></a><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;">&nbsp;&nbsp; </span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u13405-2" class="preeval" style="width: 1300px; height: 50px;">

          <!-- 表格头部 (表格) -->
          <div id="u13406-2" class="ax_default u13406" data-label="表格头部" style="visibility: inherit">

            <!-- Unnamed (单元格) -->
            <div id="u13407-2" class="ax_default _默认样式 u13407" style="width: 120px; height: 50px; left: 0px; top: 0px;visibility: inherit">
              <img id="u13407-2_img" class="img u13407_img" src="/static/resource/images/receive/u9711.png"/>
              <div id="u13407-2_text" class="text u13407_text" style="visibility: inherit">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u13408-2" class="ax_default _默认样式 u13408" style="width: 284px; height: 50px; left: 120px; top: 0px;visibility: inherit">
              <img id="u13408-2_img" class="img u13408_img" src="/static/resource/images/roleIndex/u13398.png"/>
              <div id="u13408-2_text" class="text u13408_text" style="visibility: inherit">
                <p><span>仓库管理员</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u13409-2" class="ax_default _默认样式 u13409" style="width: 284px; height: 50px; left: 404px; top: 0px;visibility: inherit">
              <img id="u13409-2_img" class="img u13409_img" src="/static/resource/images/roleIndex/u13398.png"/>
              <div id="u13409-2_text" class="text u13409_text" style="visibility: inherit">
                <p><span>&nbsp;&nbsp; &nbsp; 2019-04-10</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u13410-2" class="ax_default _默认样式 u13410" style="width: 132px; height: 50px; left: 688px; top: 0px;visibility: inherit">
              <img id="u13410-2_img" class="img u13410_img" src="/static/resource/images/returngoods/returngoodHtml/u8126.png"/>
              <div id="u13410-2_text" class="text u13410_text" style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u13411-2" class="ax_default _默认样式 u13411" style="width: 480px; height: 50px; left: 820px; top: 0px;visibility: inherit">
              <img id="u13411-2_img" class="img u13411_img" src="/static/resource/images/roleIndex/u13401.png"/>
              <div id="u13411-2_text" class="text u13411_text" style="visibility: inherit">
                <p><a id="u13412-2" class="link"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;">&nbsp; </span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#0079FE;">编辑</span></a><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;">&nbsp; &nbsp; </span><a id="u13413-2" class="link"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;"> </span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#0079FE;">删除</span></a><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;">&nbsp; &nbsp;&nbsp; </span><a id="u13414-2" class="link"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#218BF9;"> 分配权限</span></a><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;">&nbsp;&nbsp; </span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u13405-3" class="preeval" style="width: 1300px; height: 50px;">

          <!-- 表格头部 (表格) -->
          <div id="u13406-3" class="ax_default u13406" data-label="表格头部" style="visibility: inherit">

            <!-- Unnamed (单元格) -->
            <div id="u13407-3" class="ax_default _默认样式 u13407" style="width: 120px; height: 50px; left: 0px; top: 0px;visibility: inherit">
              <img id="u13407-3_img" class="img u13407_img" src="/static/resource/images/receive/u9711.png"/>
              <div id="u13407-3_text" class="text u13407_text" style="visibility: inherit">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u13408-3" class="ax_default _默认样式 u13408" style="width: 284px; height: 50px; left: 120px; top: 0px;visibility: inherit">
              <img id="u13408-3_img" class="img u13408_img" src="/static/resource/images/roleIndex/u13398.png"/>
              <div id="u13408-3_text" class="text u13408_text" style="visibility: inherit">
                <p><span>仓库管理员</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u13409-3" class="ax_default _默认样式 u13409" style="width: 284px; height: 50px; left: 404px; top: 0px;visibility: inherit">
              <img id="u13409-3_img" class="img u13409_img" src="/static/resource/images/roleIndex/u13398.png"/>
              <div id="u13409-3_text" class="text u13409_text" style="visibility: inherit">
                <p><span>&nbsp;&nbsp; &nbsp; 2019-04-10</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u13410-3" class="ax_default _默认样式 u13410" style="width: 132px; height: 50px; left: 688px; top: 0px;visibility: inherit">
              <img id="u13410-3_img" class="img u13410_img" src="/static/resource/images/returngoods/returngoodHtml/u8126.png"/>
              <div id="u13410-3_text" class="text u13410_text" style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u13411-3" class="ax_default _默认样式 u13411" style="width: 480px; height: 50px; left: 820px; top: 0px;visibility: inherit">
              <img id="u13411-3_img" class="img u13411_img" src="/static/resource/images/roleIndex/u13401.png"/>
              <div id="u13411-3_text" class="text u13411_text" style="visibility: inherit">
                <p><a id="u13412-3" class="link"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;">&nbsp; </span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#0079FE;">编辑</span></a><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;">&nbsp; &nbsp; </span><a id="u13413-3" class="link"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;"> </span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#0079FE;">删除</span></a><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;">&nbsp; &nbsp;&nbsp; </span><a id="u13414-3" class="link"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#218BF9;"> 分配权限</span></a><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;">&nbsp;&nbsp; </span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u13405-4" class="preeval" style="width: 1300px; height: 50px;">

          <!-- 表格头部 (表格) -->
          <div id="u13406-4" class="ax_default u13406" data-label="表格头部" style="visibility: inherit">

            <!-- Unnamed (单元格) -->
            <div id="u13407-4" class="ax_default _默认样式 u13407" style="width: 120px; height: 50px; left: 0px; top: 0px;visibility: inherit">
              <img id="u13407-4_img" class="img u13407_img" src="/static/resource/images/receive/u9711.png"/>
              <div id="u13407-4_text" class="text u13407_text" style="visibility: inherit">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u13408-4" class="ax_default _默认样式 u13408" style="width: 284px; height: 50px; left: 120px; top: 0px;visibility: inherit">
              <img id="u13408-4_img" class="img u13408_img" src="/static/resource/images/roleIndex/u13398.png"/>
              <div id="u13408-4_text" class="text u13408_text" style="visibility: inherit">
                <p><span>仓库管理员</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u13409-4" class="ax_default _默认样式 u13409" style="width: 284px; height: 50px; left: 404px; top: 0px;visibility: inherit">
              <img id="u13409-4_img" class="img u13409_img" src="/static/resource/images/roleIndex/u13398.png"/>
              <div id="u13409-4_text" class="text u13409_text" style="visibility: inherit">
                <p><span>&nbsp;&nbsp; &nbsp; 2019-04-10</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u13410-4" class="ax_default _默认样式 u13410" style="width: 132px; height: 50px; left: 688px; top: 0px;visibility: inherit">
              <img id="u13410-4_img" class="img u13410_img" src="/static/resource/images/returngoods/returngoodHtml/u8126.png"/>
              <div id="u13410-4_text" class="text u13410_text" style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u13411-4" class="ax_default _默认样式 u13411" style="width: 480px; height: 50px; left: 820px; top: 0px;visibility: inherit">
              <img id="u13411-4_img" class="img u13411_img" src="/static/resource/images/roleIndex/u13401.png"/>
              <div id="u13411-4_text" class="text u13411_text" style="visibility: inherit">
                <p><a id="u13412-4" class="link"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;">&nbsp; </span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#0079FE;">编辑</span></a><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;">&nbsp; &nbsp; </span><a id="u13413-4" class="link"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;"> </span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#0079FE;">删除</span></a><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;">&nbsp; &nbsp;&nbsp; </span><a id="u13414-4" class="link"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#218BF9;"> 分配权限</span></a><span style="font-family:'FontAwesome', sans-serif;font-weight:400;color:#0079FE;">&nbsp;&nbsp; </span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u13415" class="ax_default _默认样式">
        <div id="u13415_div" class=""></div>
        <div id="u13415_text" class="text ">
          <p><span style="font-family:'FontAwesome', sans-serif;font-weight:400;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;"> 导出</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u13416" class="ax_default _默认样式">
        <div id="u13416_div" class=""></div>
        <div id="u13416_text" class="text ">
          <p><span style="font-family:'Arial Normal', 'Arial', sans-serif;">&nbsp;</span><span style="font-family:'FontAwesome', sans-serif;"></span><span style="font-family:'Arial Normal', 'Arial', sans-serif;"> 刷新</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u13417" class="ax_default _默认样式">
        <div id="u13417_div" class=""></div>
        <div id="u13417_text" class="text ">
          <p><span> 删除</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u13418" class="ax_default _默认样式">
        <div id="u13418_div" class=""></div>
        <div id="u13418_text" class="text ">
          <p><span>&nbsp; 编辑</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u13419" class="ax_default _默认样式">
        <div id="u13419_div" class=""></div>
        <div id="u13419_text" class="text ">
          <p><span style="font-family:'FontAwesome', sans-serif;font-weight:400;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;"> 新增</span></p>
        </div>
      </div>

      <!-- 输入框 (组合) -->
      <div id="u13420" class="ax_default" data-label="输入框" data-left="385" data-top="140" data-width="180" data-height="35">

        <!-- Unnamed (矩形) -->
        <div id="u13421" class="ax_default _默认样式">
          <div id="u13421_div" class=""></div>
          <div id="u13421_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- 输入框 (文本框) -->
        <div id="u13422" class="ax_default _默认样式" data-label="输入框">
          <div id="u13422_div" class=""></div>
          <input id="u13422_input" type="text" value="" class="u13422_input" maxlength="20"/>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u13423" class="ax_default _默认样式">
        <div id="u13423_div" class=""></div>
        <div id="u13423_text" class="text ">
          <p><span>备注</span></p>
        </div>
      </div>

      <!-- 重置密码 (动态面板) -->
      <div id="u13424" class="ax_default ax_default_hidden" data-label="重置密码" style="display:none; visibility: hidden">
        <div id="u13424_state0" class="panel_state" data-label="重置密码" style="">
          <div id="u13424_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u13425" class="ax_default _默认样式">
              <div id="u13425_div" class=""></div>
              <div id="u13425_text" class="text ">
                <p></p><p></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13426" class="ax_default _默认样式">
              <div id="u13426_div" class=""></div>
              <div id="u13426_text" class="text ">
                <p><span>新建/编辑角色</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13427" class="ax_default _默认样式" title="关闭">
              <div id="u13427_div" class=""></div>
              <div id="u13427_text" class="text ">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u13428" class="ax_default" data-left="0" data-top="260" data-width="600" data-height="60">

              <!-- Unnamed (矩形) -->
              <div id="u13429" class="ax_default _默认样式">
                <div id="u13429_div" class=""></div>
                <div id="u13429_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (组合) -->
              <div id="u13430" class="ax_default" data-left="410" data-top="275" data-width="170" data-height="30">

                <!-- Unnamed (组合) -->
                <div id="u13431" class="ax_default" data-left="410" data-top="275" data-width="170" data-height="30">

                  <!-- Unnamed (矩形) -->
                  <div id="u13432" class="ax_default _默认样式">
                    <div id="u13432_div" class=""></div>
                    <div id="u13432_text" class="text ">
                      <p><span>确定</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (矩形) -->
                  <div id="u13433" class="ax_default _默认样式">
                    <div id="u13433_div" class=""></div>
                    <div id="u13433_text" class="text ">
                      <p><span>取消</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- 输入框 (组合) -->
            <div id="u13434" class="ax_default" data-label="输入框" data-left="60" data-top="109" data-width="430" data-height="40">

              <!-- Unnamed (矩形) -->
              <div id="u13435" class="ax_default _默认样式">
                <div id="u13435_div" class=""></div>
                <div id="u13435_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13436" class="ax_default _默认样式">
              <div id="u13436_div" class=""></div>
              <div id="u13436_text" class="text ">
                <p><span>角色名：</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13437" class="ax_default _默认样式">
              <div id="u13437_div" class=""></div>
              <div id="u13437_text" class="text ">
                <p><span>备注：</span></p>
              </div>
            </div>

            <!-- 输入框 (文本框) -->
            <div id="u13438" class="ax_default _默认样式" data-label="输入框">
              <div id="u13438_div" class=""></div>
              <input id="u13438_input" type="text" value="仓库管理员" class="u13438_input" maxlength="20"/>
            </div>

            <!-- 输入框 (组合) -->
            <div id="u13439" class="ax_default" data-label="输入框" data-left="60" data-top="199" data-width="430" data-height="40">

              <!-- Unnamed (矩形) -->
              <div id="u13440" class="ax_default _默认样式">
                <div id="u13440_div" class=""></div>
                <div id="u13440_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>

            <!-- 输入框 (文本框) -->
            <div id="u13441" class="ax_default _默认样式" data-label="输入框">
              <div id="u13441_div" class=""></div>
              <input id="u13441_input" type="text" value="" class="u13441_input" maxlength="20"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/static/resource/resources/scripts/axure/ios.js"></script>
  </body>
</html>
