<!DOCTYPE html>
<html>
  <head>
    <title>财务类别</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/财务类别/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/财务类别/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (动态面板) -->
      <div id="u9513" class="ax_default" data-label="灰色背景">
        <div id="u9513_state0" class="panel_state" data-label="State1" style="">
          <div id="u9513_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (动态面板) -->
      <div id="u9514" class="ax_default" data-label="线条">
        <div id="u9514_state0" class="panel_state" data-label="State1" style="">
          <div id="u9514_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (矩形) -->
      <div id="u9515" class="ax_default _默认样式" data-label="页面标题">
        <div id="u9515_div" class=""></div>
        <div id="u9515_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u9512" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (刷新) -->

      <!-- Unnamed (矩形) -->
      <div id="u9517" class="ax_default _默认样式" title="刷新">
        <div id="u9517_div" class=""></div>
        <div id="u9517_text" class="text ">
          <p><span style="font-family:'Arial Normal', 'Arial', sans-serif;">&nbsp;</span><span style="font-family:'FontAwesome', sans-serif;"></span><span style="font-family:'Arial Normal', 'Arial', sans-serif;"> 刷新</span></p>
        </div>
      </div>
      <div id="u9516" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (矩形) -->
      <div id="u9518" class="ax_default _默认样式">
        <div id="u9518_div" class=""></div>
        <div id="u9518_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9519" class="ax_default _默认样式">
        <div id="u9519_div" class=""></div>
        <div id="u9519_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (动态面板) -->
      <div id="u9521" class="ax_default" data-label="灰色背景">
        <div id="u9521_state0" class="panel_state" data-label="State1" style="">
          <div id="u9521_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (动态面板) -->
      <div id="u9522" class="ax_default" data-label="线条">
        <div id="u9522_state0" class="panel_state" data-label="State1" style="">
          <div id="u9522_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (矩形) -->
      <div id="u9523" class="ax_default _默认样式" data-label="页面标题">
        <div id="u9523_div" class=""></div>
        <div id="u9523_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>
      <div id="u9520" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (返回) -->

      <!-- Unnamed (矩形) -->
      <div id="u9525" class="ax_default _默认样式" title="返回">
        <div id="u9525_div" class=""></div>
        <div id="u9525_text" class="text ">
          <p><span style="font-family:'Arial Normal', 'Arial', sans-serif;font-weight:400;">&nbsp;</span><span style="font-family:'FontAwesome', sans-serif;font-weight:400;"></span><span style="font-family:'Arial Normal', 'Arial', sans-serif;font-weight:400;"> 返回</span></p>
        </div>
      </div>
      <div id="u9524" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (刷新) -->

      <!-- Unnamed (矩形) -->
      <div id="u9527" class="ax_default _默认样式" title="刷新">
        <div id="u9527_div" class=""></div>
        <div id="u9527_text" class="text ">
          <p><span style="font-family:'Arial Normal', 'Arial', sans-serif;">&nbsp;</span><span style="font-family:'FontAwesome', sans-serif;"></span><span style="font-family:'Arial Normal', 'Arial', sans-serif;"> 刷新</span></p>
        </div>
      </div>
      <div id="u9526" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (矩形) -->
      <div id="u9528" class="ax_default _默认样式">
        <div id="u9528_div" class=""></div>
        <div id="u9528_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9529" class="ax_default _默认样式">
        <div id="u9529_div" class=""></div>
        <div id="u9529_text" class="text ">
          <p><span>数据筛选</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9530" class="ax_default _默认样式">
        <div id="u9530_div" class=""></div>
        <div id="u9530_text" class="text ">
          <p><span style="font-family:'FontAwesome', sans-serif;font-weight:400;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;"> 重置</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9531" class="ax_default _默认样式">
        <div id="u9531_div" class=""></div>
        <div id="u9531_text" class="text ">
          <p><span style="font-family:'FontAwesome', sans-serif;font-weight:400;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;"> </span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;">查询</span></p>
        </div>
      </div>

      <!-- 输入框 (组合) -->
      <div id="u9532" class="ax_default" data-label="输入框" data-left="130" data-top="140" data-width="180" data-height="35">

        <!-- Unnamed (矩形) -->
        <div id="u9533" class="ax_default _默认样式">
          <div id="u9533_div" class=""></div>
          <div id="u9533_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- 输入框 (文本框) -->
        <div id="u9534" class="ax_default _默认样式" data-label="输入框">
          <div id="u9534_div" class=""></div>
          <input id="u9534_input" type="text" value="" class="u9534_input" maxlength="20"/>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9535" class="ax_default _默认样式">
        <div id="u9535_div" class=""></div>
        <div id="u9535_text" class="text ">
          <p><span>类别名称：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9536" class="ax_default _默认样式">
        <div id="u9536_div" class=""></div>
        <div id="u9536_text" class="text ">
          <p><span>数据列表</span></p>
        </div>
      </div>

      <!-- 对话框 (动态面板) -->
      <div id="u9537" class="ax_default ax_default_hidden" data-label="对话框" style="display:none; visibility: hidden">
        <div id="u9537_state0" class="panel_state" data-label="删除确认" style="">
          <div id="u9537_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u9538" class="ax_default _默认样式">
              <div id="u9538_div" class=""></div>
              <div id="u9538_text" class="text ">
                <p></p><p></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u9539" class="ax_default" data-left="0" data-top="150" data-width="450" data-height="60">

              <!-- Unnamed (矩形) -->
              <div id="u9540" class="ax_default _默认样式">
                <div id="u9540_div" class=""></div>
                <div id="u9540_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (组合) -->
              <div id="u9541" class="ax_default" data-left="261" data-top="165" data-width="170" data-height="30">

                <!-- Unnamed (组合) -->
                <div id="u9542" class="ax_default" data-left="261" data-top="165" data-width="170" data-height="30">

                  <!-- Unnamed (矩形) -->
                  <div id="u9543" class="ax_default _默认样式">
                    <div id="u9543_div" class=""></div>
                    <div id="u9543_text" class="text ">
                      <p><span>取消</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (矩形) -->
                  <div id="u9544" class="ax_default _默认样式">
                    <div id="u9544_div" class=""></div>
                    <div id="u9544_text" class="text ">
                      <p><span>确定</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u9545" class="ax_default _默认样式">
              <div id="u9545_div" class=""></div>
              <div id="u9545_text" class="text ">
                <p style="font-size:16px;"><span style="font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;font-weight:700;">该操作将删除该数据,确定要删除吗？</span></p><p style="font-size:14px;"><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#999999;">该操作将删除该数据,确定要删除吗？</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u9546" class="ax_default _默认样式">
              <div id="u9546_div" class=""></div>
              <div id="u9546_text" class="text ">
                <p><span>确认提示</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u9547" class="ax_default _默认样式">
              <div id="u9547_div" class=""></div>
              <div id="u9547_text" class="text ">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u9548" class="ax_default _默认样式" title="关闭">
              <div id="u9548_div" class=""></div>
              <div id="u9548_text" class="text ">
                <p><span></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 通知提醒  (动态面板) -->
      <div id="u9549" class="ax_default ax_default_hidden" data-label="通知提醒 " style="display:none; visibility: hidden">
        <div id="u9549_state0" class="panel_state" data-label="删除成功" style="">
          <div id="u9549_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u9550" class="ax_default _默认样式">
              <div id="u9550_div" class=""></div>
              <div id="u9550_text" class="text ">
                <p><span style="font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;font-weight:700;">数据删除成功</span></p><p><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#999999;">数据删除成功</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u9551" class="ax_default _默认样式">
              <div id="u9551_div" class=""></div>
              <div id="u9551_text" class="text ">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u9552" class="ax_default _默认样式">
              <div id="u9552_div" class=""></div>
              <div id="u9552_text" class="text ">
                <p><span></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 表格头部 (表格) -->
      <div id="u9553" class="ax_default" data-label="表格头部">

        <!-- Unnamed (单元格) -->
        <div id="u9554" class="ax_default _默认样式">
          <img id="u9554_img" class="img " src="images/调拨管理/u4639.png"/>
          <div id="u9554_text" class="text ">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u9555" class="ax_default _默认样式">
          <img id="u9555_img" class="img " src="images/财务类别/u9555.png"/>
          <div id="u9555_text" class="text ">
            <p><span>类别编号</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u9556" class="ax_default _默认样式">
          <img id="u9556_img" class="img " src="images/财务类别/u9556.png"/>
          <div id="u9556_text" class="text ">
            <p><span>类别名称</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u9557" class="ax_default _默认样式">
          <img id="u9557_img" class="img " src="images/财务类别/u9557.png"/>
          <div id="u9557_text" class="text ">
            <p><span>&nbsp;&nbsp; &nbsp; 创建时间</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u9558" class="ax_default _默认样式">
          <img id="u9558_img" class="img " src="images/财务类别/u9558.png"/>
          <div id="u9558_text" class="text ">
            <p><span>操作</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u9559" class="ax_default _默认样式">
          <img id="u9559_img" class="img " src="images/调拨管理/u4654.png"/>
          <div id="u9559_text" class="text ">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u9560" class="ax_default _默认样式">
          <img id="u9560_img" class="img " src="images/财务类别/u9560.png"/>
          <div id="u9560_text" class="text ">
            <p><span>0001075</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u9561" class="ax_default _默认样式">
          <img id="u9561_img" class="img " src="images/财务类别/u9561.png"/>
          <div id="u9561_text" class="text ">
            <p><span>微信</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u9562" class="ax_default _默认样式">
          <img id="u9562_img" class="img " src="images/财务类别/u9562.png"/>
          <div id="u9562_text" class="text ">
            <p><span>&nbsp;&nbsp; &nbsp; 2019-05-10</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u9563" class="ax_default _默认样式">
          <img id="u9563_img" class="img " src="images/财务类别/u9563.png"/>
          <div id="u9563_text" class="text ">
            <p><a id="u9564" class="link"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;">&nbsp; </span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;">编辑</span></a><span style="font-family:'FontAwesome', sans-serif;font-weight:400;">&nbsp; &nbsp; </span><a id="u9565" class="link"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;"> </span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;">删除</span></a><span style="font-family:'FontAwesome', sans-serif;font-weight:400;">&nbsp; &nbsp;&nbsp; </span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u9566" class="ax_default _默认样式">
          <img id="u9566_img" class="img " src="images/调拨管理/u4654.png"/>
          <div id="u9566_text" class="text ">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u9567" class="ax_default _默认样式">
          <img id="u9567_img" class="img " src="images/财务类别/u9560.png"/>
          <div id="u9567_text" class="text ">
            <p><span>0001074</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u9568" class="ax_default _默认样式">
          <img id="u9568_img" class="img " src="images/财务类别/u9561.png"/>
          <div id="u9568_text" class="text ">
            <p><span>支付宝</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u9569" class="ax_default _默认样式">
          <img id="u9569_img" class="img " src="images/财务类别/u9562.png"/>
          <div id="u9569_text" class="text ">
            <p><span>&nbsp;&nbsp; &nbsp; 2019-05-10</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u9570" class="ax_default _默认样式">
          <img id="u9570_img" class="img " src="images/财务类别/u9563.png"/>
          <div id="u9570_text" class="text ">
            <p><a id="u9571" class="link"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;">&nbsp; </span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;">编辑</span></a><span style="font-family:'FontAwesome', sans-serif;font-weight:400;">&nbsp; &nbsp; </span><a id="u9572" class="link"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;"> </span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;">删除</span></a><span style="font-family:'FontAwesome', sans-serif;font-weight:400;">&nbsp; &nbsp;&nbsp; </span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u9573" class="ax_default _默认样式">
          <img id="u9573_img" class="img " src="images/调拨管理/u4672.png"/>
          <div id="u9573_text" class="text ">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u9574" class="ax_default _默认样式">
          <img id="u9574_img" class="img " src="images/财务类别/u9574.png"/>
          <div id="u9574_text" class="text ">
            <p><span>0001074</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u9575" class="ax_default _默认样式">
          <img id="u9575_img" class="img " src="images/财务类别/u9575.png"/>
          <div id="u9575_text" class="text ">
            <p><span>建设新航</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u9576" class="ax_default _默认样式">
          <img id="u9576_img" class="img " src="images/财务类别/u9576.png"/>
          <div id="u9576_text" class="text ">
            <p><span>&nbsp;&nbsp; &nbsp; 2019-05-10</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u9577" class="ax_default _默认样式">
          <img id="u9577_img" class="img " src="images/财务类别/u9577.png"/>
          <div id="u9577_text" class="text ">
            <p><a id="u9578" class="link"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;">&nbsp; </span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;">编辑</span></a><span style="font-family:'FontAwesome', sans-serif;font-weight:400;">&nbsp; &nbsp; </span><a id="u9579" class="link"><span style="font-family:'FontAwesome', sans-serif;font-weight:400;"> </span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;">删除</span></a><span style="font-family:'FontAwesome', sans-serif;font-weight:400;">&nbsp; &nbsp;&nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9580" class="ax_default _默认样式">
        <div id="u9580_div" class=""></div>
        <div id="u9580_text" class="text ">
          <p><span style="font-family:'FontAwesome', sans-serif;font-weight:400;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;"> 导出</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9581" class="ax_default _默认样式">
        <div id="u9581_div" class=""></div>
        <div id="u9581_text" class="text ">
          <p><span style="font-family:'Arial Normal', 'Arial', sans-serif;">&nbsp;</span><span style="font-family:'FontAwesome', sans-serif;"></span><span style="font-family:'Arial Normal', 'Arial', sans-serif;"> 刷新</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9582" class="ax_default _默认样式">
        <div id="u9582_div" class=""></div>
        <div id="u9582_text" class="text ">
          <p><span> 删除</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9583" class="ax_default _默认样式">
        <div id="u9583_div" class=""></div>
        <div id="u9583_text" class="text ">
          <p><span>&nbsp; 编辑</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9584" class="ax_default _默认样式">
        <div id="u9584_div" class=""></div>
        <div id="u9584_text" class="text ">
          <p><span style="font-family:'FontAwesome', sans-serif;font-weight:400;"></span><span style="font-family:'微软雅黑', sans-serif;font-weight:400;"> 新增</span></p>
        </div>
      </div>

      <!-- 添加设备 (动态面板) -->
      <div id="u9585" class="ax_default ax_default_hidden" data-label="添加设备" style="display:none; visibility: hidden">
        <div id="u9585_state0" class="panel_state" data-label="添加设备" style="">
          <div id="u9585_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u9586" class="ax_default _默认样式">
              <div id="u9586_div" class=""></div>
              <div id="u9586_text" class="text ">
                <p></p><p></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u9587" class="ax_default _默认样式">
              <div id="u9587_div" class=""></div>
              <div id="u9587_text" class="text ">
                <p><span>新增类别</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u9588" class="ax_default _默认样式" title="关闭">
              <div id="u9588_div" class=""></div>
              <div id="u9588_text" class="text ">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u9589" class="ax_default" data-left="0" data-top="358" data-width="600" data-height="60">

              <!-- Unnamed (矩形) -->
              <div id="u9590" class="ax_default _默认样式">
                <div id="u9590_div" class=""></div>
                <div id="u9590_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (组合) -->
              <div id="u9591" class="ax_default" data-left="410" data-top="373" data-width="170" data-height="30">

                <!-- Unnamed (组合) -->
                <div id="u9592" class="ax_default" data-left="410" data-top="373" data-width="170" data-height="30">

                  <!-- Unnamed (矩形) -->
                  <div id="u9593" class="ax_default _默认样式">
                    <div id="u9593_div" class=""></div>
                    <div id="u9593_text" class="text ">
                      <p><span>确定</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (矩形) -->
                  <div id="u9594" class="ax_default _默认样式">
                    <div id="u9594_div" class=""></div>
                    <div id="u9594_text" class="text ">
                      <p><span>取消</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- 输入框 (组合) -->
            <div id="u9595" class="ax_default" data-label="输入框" data-left="40" data-top="109" data-width="240" data-height="40">

              <!-- Unnamed (矩形) -->
              <div id="u9596" class="ax_default _默认样式">
                <div id="u9596_div" class=""></div>
                <div id="u9596_text" class="text ">
                  <p><span>可不填写，自动生成</span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u9597" class="ax_default _默认样式">
              <div id="u9597_div" class=""></div>
              <div id="u9597_text" class="text ">
                <p><span>类别编号：</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u9598" class="ax_default _默认样式">
              <div id="u9598_div" class=""></div>
              <div id="u9598_text" class="text ">
                <p><span>类别名称：</span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u9599" class="ax_default" data-left="320" data-top="108" data-width="240" data-height="40">

              <!-- Unnamed (矩形) -->
              <div id="u9600" class="ax_default _默认样式">
                <div id="u9600_div" class=""></div>
                <div id="u9600_text" class="text ">
                  <p><span>全部</span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u9601" class="ax_default _默认样式">
              <div id="u9601_div" class=""></div>
              <div id="u9601_text" class="text ">
                <p><span>备注：</span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u9602" class="ax_default" data-left="40" data-top="209" data-width="520" data-height="121">

              <!-- Unnamed (矩形) -->
              <div id="u9603" class="ax_default _默认样式">
                <div id="u9603_div" class=""></div>
                <div id="u9603_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
