<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lg.whmoms.mapper.SaleMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sale_id, sale_code, sale_number, order_id, order_code, order_isPayment, order_number, order_product_price_sum, order_price_sum, order_state, bill_id, bill_name, product_id, product_code, product_name, product_spec, product_price, metering_id, customer_id, customer_code, customer_name, customer_phone, customer_contactName, sale_income_time, sale_remarks, sale_createuser, sale_createtime
    </sql>

</mapper>
